@mixin typography-h1($color: $color-midnight) {
  color: $color;
  font-family: $font-family;
  font-size: 46px;
  line-height: 1.22;
}

@mixin typography-h2($color: $color-midnight) {
  color: $color;
  font-family: $font-family;
  font-size: 32px;
  line-height: 1.25;
}

@mixin typography-h3($color: $color-midnight) {
  color: $color;
  font-family: $font-family;
  font-size: 24px;
  line-height: 1.25;
}

@mixin typography-h4($color: $color-midnight) {
  color: $color;
  font-family: $font-family;
  font-size: 20px;
  line-height: 1.3;
}
