@mixin shuttle-background-color-pattern() {
    background-image: url("../../images/hero/hero-pattern.svg");
    background-position: bottom 0 right;
    background-repeat: no-repeat;
    background-size: contain;
    @content;
  }