@mixin set-col-width-for-table-by-col-count($cols-count) {
  &:first-child:nth-last-child(#{$cols-count}),
  &:first-child:nth-last-child(#{$cols-count}) ~ * {
    @content;
  }
}

@mixin set-col-width-for-table-by-col-count-loop($cols-count) {
  @for $var from 1 to $cols-count {
    @include set-col-width-for-table-by-col-count($var) {
      width: calc(100vw / $var);
      @content;
    }
  }
}

@mixin media-breakpoint($breakpoint-start, $breakpoint-end: null) {
  @if map-has-key($grid-breakpoints, $breakpoint-start) and
    $breakpoint-end ==
    null
  {
    $min-width: map-get($grid-breakpoints, $breakpoint-start, "min");

    @media (min-width: $min-width) {
      @content;
    }
  } @else if $breakpoint-end and map-has-key($grid-breakpoints, $breakpoint-end)
  {
    @if $breakpoint-end == "xl" {
      $min-width: map-get($grid-breakpoints, $breakpoint-start, "min");

      @media (min-width: $min-width) {
        @content;
      }
    } @else {
      $min-width: map-get($grid-breakpoints, $breakpoint-start, "min");
      $max-width: map-get($grid-breakpoints, $breakpoint-end, "max");

      @media (min-width: $min-width) and (max-width: $max-width) {
        @content;
      }
    }
  } @else {
    @content;
  }
}

@mixin set-svg-color($color: $color-midnight) {
    g[fill],
    path[fill] {
      fill: $color;
    }
    g[stroke],
    path[stroke] {
      stroke: $color;
    }
}

@mixin grid-margus-cell-width($i, $cols, $gap) {
  @if ($i <= $cols) {
    $gaps-width: calc(#{$gap} * (#{$cols} - 1));
    $col-width: calc((100% - #{$gaps-width}) / #{$cols});
    $basis: calc(#{$i} * #{$col-width} + (#{$i} - 1) * #{$gap});
    flex-basis: $basis;
  } @else {
    flex-basis: 100%;
  }
}