@mixin typography-h5($color: $color-midnight) {
    color: $color;
    font-family: $font-family;
    font-size: 18px;
    line-height: 1.33;
  }
  
  @mixin typography-body($color: $color-midnight) {
    color: $color;
    font-family: $font-family;
    font-size: $font-16;
    line-height: 1.38;
  }
  
  @mixin typography-small($color: $color-midnight) {
    color: $color;
    font-family: $font-family;
    font-size: $font-14;
    line-height: 1.43;
  }
  
  @mixin typography-tiny($color: $color-midnight) {
    color: $color;
    font-family: $font-family;
    font-size: $font-12;
    line-height: 1.33;
  }