* {
box-sizing: border-box;
}

.default{
    margin: 0px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    --gap_size: 0px;
    --margin_size: 0px;
    --col_num: 1;
    margin: var(--margin_size);
    gap: var(--gap_size);
}

.grid > div {
    flex: 1;
    width: 70px;
    text-align: center;
    --gap_num: calc(var(--col_num) - 1);
    min-width: calc((100% - var(--gap_size)*var(--gap_num))/var(--col_num));
}

.grid > div > img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle
}

.grid[data-shrink-last-row='true'] > div {
    max-width: min-content;
}

@media screen and (min-width: 360px) {
    .grid {
        --gap_size: 16px;
        --margin_size: 16px;
        --col_num: 4;
    }
}

@media screen and (min-width: 600px) {
    .grid {
        --gap_size: 16px;
        --margin_size: 20px;
        --col_num: 6;
    }
}

@media screen and (min-width: 800px) {
    .grid {
        --gap_size: 24px;
        --margin_size: 28px;
        --col_num: 6;
    }

}

@media screen and (min-width: 1024px) {
    .grid {
        --gap_size: 24px;
        --margin_size: 32px;
        --col_num: 12;
    }

}