@mixin set-col-width-for-table-by-col-count($cols-count) {
  &:first-child:nth-last-child(#{$cols-count}),
  &:first-child:nth-last-child(#{$cols-count}) ~ * {
    @content;
  }
}

@mixin set-col-width-for-table-by-col-count-loop($cols-count){
  @for $var from 1 to $cols-count {
    @include set-col-width-for-table-by-col-count($var) {
      width: calc(100vw / $var);
      @content;
    }
  }
}