:root {
  --midnight: #004152;
  --buoy-success-indicator: #00bea2;
  --shuttle-green: #00a861;
  --shuttle-lemon: #fafab4;
  --buoy-light-success-bg: #cdf8eb;
  --action: #00ecc9;
  --dance-floor: #5a1eb4;
  --white: #ffffff;
  --headerMainColor: var(--white);
  --headerSecondColor: var(--buoy-light-success-bg);
  --textarea-border-margin: 0;
  --textarea-border-padding: 0;
  --textarea-border-padding-top: 0;
  --textarea-border-border-radius: 0;
  --textarea-border-border: 0;
  --svg-top: -20%;
  --svg-right: 20%;
}
/* --- Värvide kombinatsioonid --- */
.combo-1 {
  --background-color: var(--midnight);
  --border-image: linear-gradient(
      to top,
      var(--shuttle-green) 0%,
      var(--shuttle-green) 33%,
      var(--buoy-success-indicator) 33%,
      var(--buoy-success-indicator) 66%,
      var(--buoy-light-success-bg) 66%,
      var(--buoy-light-success-bg) 100%
    )
    0 0 0 50;
  --border-left: 8px solid;
  --color: var(--white);
  --svg-color: var(--buoy-success-indicator);
}
.combo-2 {
  --background-color: var(--buoy-light-success-bg);
  --border-image: linear-gradient(
      to top,
      var(--shuttle-green) 0%,
      var(--shuttle-green) 33%,
      var(--buoy-success-indicator) 33%,
      var(--buoy-success-indicator) 66%,
      var(--midnight) 66%,
      var(--midnight) 100%
    )
    0 0 0 50;
  --border-left: 8px solid;
  --color: var(--midnight);
  --svg-color: var(--midnight);
  --headerMainColor: var(--midnight);
  --headerSecondColor: var(--buoy-success-indicator);
}
.shuttle-1 {
  --background-color: var(--shuttle-green);
  --color: var(--white);
  --svg-color: var(--dance-floor);
  --headerMainColor: var(--white);
  --headerSecondColor: var(--shuttle-lemon);
}

.shuttle-2 {
  --background-color: var(--dance-floor);
  --color: var(--white);
  --svg-color: var(--shuttle-green);
  --headerMainColor: var(--white);
  --headerSecondColor: var(--shuttle-lemon);
}

.cruise-1 {
  --background-color: var(--midnight);
  --color: var(--white);
  --svg-color: var(--buoy-success-indicator);
  --svg-top: -20%;
  --svg-right: 20%;
  --textarea-border-margin: -5vh 24px 32px;
  --textarea-border-padding: 24px;
  --textarea-border-border-radius: 16px;
  --textarea-border-border: solid 2px var(--white);
}
.cruise-2 {
  --background-color: var(--buoy-light-success-bg);
  --color: var(--midnight);
  --svg-color: var(--dance-floor);
  --svg-top: -20%;
  --svg-right: 20%;
  --textarea-border-margin: -5vh 24px 32px;
  --textarea-border-padding: 24px;
  --textarea-border-border-radius: 16px;
  --textarea-border-border: solid 2px var(--midnight);
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  --margin_size: 16px;
  margin: var(--margin_size);
}

.container > div {
  position: relative;
  flex: 1;
}

.hero-item {
  display: none;
}
.hero-item-active {
  display: block;
}
.hero-item > div {
  display: flex;
  flex-direction: column;
}
.hero-item > div > img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  aspect-ratio: 16 / 9;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  padding: 17px 8px 17px 10px;
  background-color: var(--white);
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  top: 45%;
  margin-left: -15px;
  max-width: 100%;
  font-size: 8px;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: -15px;
}

.mute-button {
  position: absolute;
  right: 3%;
  top: 5%;
  background-color: var(--white);
  font-size: 12px;
  border-radius: 4px;
  padding: 0 5px 0 5px;
  visibility: hidden;
}

.indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #d6dfdf;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
}

.dot-active {
  background-color: black;
}

.textarea {
  padding: 24px;
  position: relative;
  background-color: var(--background-color);
  color: var(--color);
  border-left: var(--border-left);
  border-image: var(--border-image);
}
.textarea-border {
  margin: var(--textarea-border-margin);
  padding: var(--textarea-border-padding);
  border-radius: var(--textarea-border-border-radius);
  border: var(--textarea-border-border);
  box-sizing: border-box;
}

.textarea-header {
  display: inline-block;
  min-height: 120px;
  align-self: stretch;
  font-size: 32px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  margin: 0;
  word-wrap: break-word;
  padding-top: 40px;
  padding-right: 46px;
}
.textarea-header-text-main-color {
  color: var(--headerMainColor);
}
.textarea-header-text-second-color {
  color: var(--headerSecondColor);
}

.textarea-content {
  min-height: 96px;
  align-self: stretch;
  flex-grow: 0;
  font-family: GTWalsheimPro;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  margin: 0;
  word-wrap: break-word;
}
.textarea-button {
  background-color: var(--action);
  width: 194px;
  height: 40px;
  align-items: center;
  padding: 8px 24px;
  border-radius: 4px;
  font-size: 16px;
  color: var(--midnight);
  font-weight: bold;
}
.textarea-svg-container {
  top: var(--svg-top);
  right: var(--svg-right);
  position: absolute;
}
.svg {
  fill: var(--svg-color);
  width: 100px;
}

@media screen and (min-width: 360px) {
  .container {
    --margin_size: 16px;
  }

  .mute-button {
    font-size: 12px;
  }
  .next,
  .prev {
    font-size: 8px;
  }

  .hero-item > div > img {
    aspect-ratio: 16 / 9;
  }
  .textarea-svg-container {
    --svg-top: -20%;
    --svg-right: 20%;
  }
}

@media screen and (min-width: 600px) {
  .container {
    --margin_size: 20px;
  }

  .mute-button {
    font-size: 16px;
  }

  .next,
  .prev {
    font-size: 10px;
  }

  .hero-item > div > img {
    aspect-ratio: 2 / 1;
    object-fit: cover;
  }
  .svg {
    width: 110px;
  }
  .textarea-svg-container {
    --svg-top: -20%;
    --svg-right: 15%;
  }
}

@media screen and (min-width: 800px) {
  .container {
    --margin_size: 28px;
  }
  .svg {
    width: 120px;
  }
  .textarea-svg-container {
    --svg-top: -20%;
    --svg-right: 10%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    --margin_size: 32px;
  }

  .mute-button {
    font-size: 18px;
  }

  .next,
  .prev {
    font-size: 12px;
  }

  .mute-button {
    top: 45%;
  }
  .hero-item-full-bleed > div > div > img {
    aspect-ratio: 16 / 9;
  }
  .hero-item-full-bleed > div > div {
    position: absolute;
    width: 408px;
    margin-top: auto;
    background-color: transparent;
    border: none;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
  }

  .hero-item-half-bleed > div > div > img {
    width: 100%;
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }
  .hero-item-half-bleed > div > div {
    position: relative;
    width: 100%;
  }
  .hero-item-half-bleed > div {
    flex-direction: row;
    flex-flow: row-reverse;
  }
  .textarea-svg-container {
    left: 95%;
    top: 10%;
  }
  .cruise-1 {
    --textarea-border-margin: 24px -5vw 24px 0px;
  }
  .cruise-2 {
    --textarea-border-margin: 24px -5vw 24px 0px;
  }
  .svg {
    width: 130px;
  }
}
