$midnight: #004152;
$border-blue: #6ecbd9;

.tooltip-target {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  cursor: pointer;
}
  
.tooltip-container {
  display: block;
  background-color: white;
  min-width: 240px;
  max-width: min-content;
  color: $midnight;
  border-left: 4px solid $border-blue;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 12px 16px;
  text-align: left; 
  margin-top: 16px; 
  margin-bottom: 16px;
  &::after {
    content: " ";
    position: absolute;
    margin-left: -5px;
    border-width: 7px 10px;
    border-style: solid;
    top: var(--tooltip-triangle-top);
    bottom: var(--tooltip-triangle-bottom);
    right: var(--tooltip-triangle-right);
    left: var(--tooltip-triangle-left);
    border-color: var(--tooltip-triangle-border-color);
  }
  transform: translateX(var(--x-position));

}

@mixin triangleVerticalPositionAndColor($color, $top: null, $bottom: null) {
  --tooltip-triangle-top: #{$top}; 
  --tooltip-triangle-bottom: #{$bottom};
  --tooltip-triangle-border-color: #{$color};
}

.tooltip-triangle-bottom-mid{
  @include triangleVerticalPositionAndColor(white transparent transparent transparent, 100%, null);
}
.tooltip-triangle-top-mid{
  @include triangleVerticalPositionAndColor(transparent transparent white transparent, null, 100%);
}
.tooltip-triangle-top-left{
  @include triangleVerticalPositionAndColor(transparent transparent white transparent, null, 100%);
}
.tooltip-triangle-top-right{
  @include triangleVerticalPositionAndColor(transparent transparent white transparent, null, 100%);
}
.tooltip-triangle-bottom-left{
  @include triangleVerticalPositionAndColor(white transparent transparent transparent, 100%, null);
}
.tooltip-triangle-bottom-right{
  @include triangleVerticalPositionAndColor(white transparent transparent transparent, 100%, null);
}
.bottom{
  bottom: 100%,
}

.tooltip-header {
  height: 24px;
  align-self: stretch;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 6px;
}
.tooltip-text {
  padding: 12px 0;
}
.tooltip-button {
  text-decoration: underline;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  display:block;
  background: none!important;
  border: none;
  padding: 0!important;
  margin: 0 auto;
  color: $midnight;
}

.tooltip-button-container{
  padding-top: 12px;
  background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
  background-position: top;
  background-size: 5px 1px;
  background-repeat: repeat-x;
}