.page-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: sticky;
  top: 0;
  z-index: 1;
  min-height: 80px;

  &__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $color-midnight;

    &-right {
      flex: 0 1 auto;
      justify-content: center;
      align-self: center;
    }

    &-left {
      flex: 1 1 auto;
      justify-content: center;
      align-self: center;
    }
  }

  &__nav {
    flex: 1;
    background-color: $color-white;
  }

  &--scroll {
    transform: translateY(-100%);
  }
}
