@use "src/scss/mixins" as *;

.scroll-wrapper {
  overflow-x: auto;
  width: calc(100% - var(--margin-width));
  margin-left: var(--margin-size);
  --margin-size: 16px;
  --margin-width: var(--margin-size) * 2;
  table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    td,
    th {
      height: 45px;
      text-align: left;
      vertical-align: top;
      padding: 0 8px;
      background-image: linear-gradient(
        to right,
        black 33%,
        rgba(255, 255, 255, 0) 0%
      );
      background-position: bottom;
      background-size: 5px 1px;
      background-repeat: repeat-x;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      @include set-col-width-for-table-by-col-count(1) {
        min-width: 100%;
      }
    }
  }
  @media screen and (min-width: 360px) {
    th,
    td {
      @include set-col-width-for-table-by-col-count(2) {
        width: 50vw;
      }
      min-width: 45vw;
    }
  }
  @media screen and (min-width: 600px) {
    th,
    td {
      @include set-col-width-for-table-by-col-count-loop(3);
      min-width: 30vw;
    }
    --margin-size: 20px;
  }
  @media screen and (min-width: 800px) {
    th,
    td {
      @include set-col-width-for-table-by-col-count-loop(3);
      min-width: 30vw;
      padding: 0 12px;
    }
    --margin-size: 28px;
  }
  @media screen and (min-width: 1024px) {
    th,
    td {
      @include set-col-width-for-table-by-col-count-loop(4);
      min-width: 23vw;
    }
    --margin-size: 32px;
  }
  @media screen and (min-width: 1288px) {
    th,
    td {
      @include set-col-width-for-table-by-col-count-loop(6);
      min-width: 15vw;
    }
  }
}
