* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #004152;
}
::-webkit-scrollbar-track-piece:end {
  border-radius: 10px;
  background-color: #d6dfdf;
  margin-right: 100px;
}
::-webkit-scrollbar-track-piece:start {
  border-radius: 10px;
  background-color: #d6dfdf;
  margin-left: 100px;
}