.button {
  border-radius: 4px;
  font-weight: 500;
  justify-content: center;
  max-width: 288px;
  text-align: center;
  text-transform: uppercase;

  &:hover:not(&:disabled) {
    cursor: pointer;
  }

  &--no-border-radius {
    border-radius: 0;
  }

  &--size {
    &-large {
      @include typography-h4;
      padding: 11px 32px 9px;
    }

    &-medium {
      @include typography-body;
      font-size: 16px;
      line-height: 22px;
      padding: 9px 24px 7px;
    }

    &-small {
      @include typography-small;
      font-size: 14px;
      line-height: 20px;
      padding: 7px 20px 5px;
    }

    &-tiny {
      font-family: $font-family;
      font-size: 13px;
      line-height: 18px;
      padding: 5px 16px 3px;

    }
  }

  &--variant {
    &-cancel {
      @include button-variant($color-white, $color-error, $color-error);

      &:active:not(&:disabled) {
        background-color: $color-dark-pink;
        border-color: $color-dark-pink;

        &:hover {
          background-color: $color-dark-pink;
          border-color: $color-dark-pink;
        }
      }

      &:disabled {
        opacity: 0.5;
      }

      &:hover:not(&:disabled) {
        background-color: $color-light-pink;
        border-color: $color-light-pink;
      }

      &:focus-visible {
        background-color: $color-light-pink;
        border-color: $color-light-pink;
        outline: 1px dotted $color-midnight;
        outline-offset: 1px;
      }
    }

    &-empty {
      @include button-variant($color-midnight, transparent, transparent);

      &:active:not(&:disabled) {
        background-color: $color-medium-grey;
        border-color: $color-medium-grey;

        &:hover {
          background-color: $color-medium-grey;
          border-color: $color-medium-grey;
        }
      }

      &:disabled {
        opacity: 0.5;
      }

      &:hover:not(&:disabled) {
        background-color: $color-group-grey;
        border-color: $color-group-grey;
      }

      &:focus-visible {
        background-color: $color-group-grey;
        border-color: $color-group-grey;
        outline: 1px dotted $color-midnight;
        outline-offset: 1px;
      }
    }

    &-primary {
      @include button-variant($color-midnight, $color-action, $color-action);

      &:active:not(&:disabled) {
        background-color: $color-buoy;
        border-color: $color-buoy;

        &:hover {
          background-color: $color-buoy;
          border-color: $color-buoy;
        }
      }

      &:disabled {
        opacity: 0.5;
      }

      &:hover:not(&:disabled) {
        background-color: $color-action-light;
        border-color: $color-action-light;
      }

      &:focus-visible {
        outline: 1px dotted $color-midnight;
        outline-offset: 1px;
      }
    }

    &-primary-dark {
      @include button-variant($color-white, $color-midnight, $color-midnight);

      &:active:not(&:disabled) {
        background-color: $color-twilight;
        border-color: $color-twilight;

        &:hover {
          background-color: $color-twilight;
          border-color: $color-twilight;
        }
      }

      &:disabled {
        color: rgba(119, 153, 161, 0.5);
        background-color: $color-seafoam;
        border-color: $color-medium-grey;
      }

      &:hover:not(&:disabled) {
        background-color: $color-dark-grey;
        border-color: $color-dark-grey;
      }

      &:focus-visible {
        outline: 1px dotted $color-midnight;
        outline-offset: 1px;
      }
    }

    &-secondary {
      @include button-variant($color-midnight, transparent, $color-dark-grey);

      &:active:not(&:disabled) {
        background-color: $color-medium-grey;
        border-color: $color-dark-grey;

        &:hover {
          background-color: $color-medium-grey;
          border-color: $color-dark-grey;
        }
      }

      &:disabled {
        color: rgba(119, 153, 161, 0.5);
        background-color: $color-seafoam;
        border-color: $color-medium-grey;
      }

      &:hover:not(&:disabled) {
        background-color: $color-seafoam;
      }

      &:focus-visible {
        background-color: $color-seafoam;
        outline: 1px dotted $color-midnight;
        outline-offset: 1px;
      }
    }

    &-secondary-inverted {
      @include button-variant($color-white, transparent, $color-dark-grey);

      &-no-border {
        background-color: transparent;
        border-color: transparent;
      }

      &:hover:not(&:disabled) {
        background-color: $color-dark-grey;
      }

      &:active:not(&:disabled) {
        background-color: $color-twilight;
        border-color: $color-dark-grey;

        &:hover {
          background-color: $color-twilight;
          border-color: $color-dark-grey;
        }
      }

      &:disabled {
        color: rgba(119, 153, 161, 0.5);
        border-color: rgba(119, 153, 161, 0.5);
      }

      &:focus-visible {
        background-color: $color-dark-grey;
        outline: 1px dotted $color-white;
        outline-offset: 1px;
      }
    }

    &-secondary-no-border {
      @include button-variant(
        $color-midnight,
        $color-group-grey,
        $color-group-grey
      );

      &:active:not(&:disabled) {
        background-color: $color-medium-grey;
        border-color: $color-dark-grey;

        &:hover {
          background-color: $color-medium-grey;
          border-color: $color-dark-grey;
        }
      }

      &:disabled {
        color: rgba(119, 153, 161, 0.5);
        background-color: $color-seafoam;
        border-color: $color-medium-grey;
      }

      &:hover:not(&:disabled) {
        background-color: $color-seafoam;
      }

      &:focus-visible {
        background-color: $color-seafoam;
        outline: 1px dotted $color-midnight;
        outline-offset: 1px;
      }
    }

    &-secondary-inverted-no-border {
      @include button-variant($color-white, transparent, transparent);

      &:hover:not(&:disabled) {
        background-color: $color-dark-grey;
      }

      &:active:not(&:disabled) {
        background-color: $color-twilight;
        border-color: $color-dark-grey;

        &:hover {
          background-color: $color-twilight;
          border-color: $color-dark-grey;
        }
      }

      &:disabled {
        color: rgba(119, 153, 161, 0.5);
        border-color: rgba(119, 153, 161, 0.5);
      }

      &:focus-visible {
        background-color: $color-dark-grey;
        outline: 1px dotted $color-white;
        outline-offset: 1px;
      }
    }
  }

  &--width {
    &-fluid {
      max-width: none;
      width: 100%;
    }

    &-fluid-mobile {
      max-width: none;
      width: 100%;

      @include media-breakpoint("sm") {
        max-width: 288px;
        width: auto;
      }
    }
  }
}
