.header {
  &-h1 {
    @include typography-h1;
    margin: 0 0 12px;

    @media only screen and (max-width: $breakpoint-md) {
      font-size: 32px;
      line-height: 1.25;
    }
  }
  &-h2 {
    @include typography-h2;
    margin: 0 0 12px;

    @media only screen and (max-width: $breakpoint-md) {
      font-size: 28px;
      line-height: 1.29;
    }
  }
  &-h3 {
    @include typography-h3;
    margin: 0 0 12px;
  }
  &-h4 {
    @include typography-h4;
    margin: 0 0 10px;
  }
  &-h5 {
    @include typography-h5;
    margin: 0 0 10px;
  }
  &--color {
    @each $class, $color in $colors {
      &-#{"" + $class} {
        color: #{$color};
      }
    }
  }
}
