$padding-value-calculation: calc((100vw - 64px - (24px * 11)) / 12);

.hero {
  font-size: 0;
  position: relative;

  [class^="header-"] {
    color: $color-white;
  }

  &__image {
    @include media-breakpoint("xs") {
      aspect-ratio: 16 / 9;
    }
    @include media-breakpoint("sm") {
      aspect-ratio: 2 / 1;
    }
    @include media-breakpoint("lg") {
      aspect-ratio: 21 / 9;
    }
    & .image {
      height: 100%;
      max-width: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;

    @include media-breakpoint("sm") {
      gap: 24px;
    }
    @include media-breakpoint("lg") {
      position: relative;
      & .header-h1 {
        font-size: 3.57143vw;
      }

      & .header-h2 {
        font-size: 2.48447vw;
      }

      & .header-h3 {
        font-size: 1.863354vw;
      }

      & .header-h4 {
        font-size: 1.552795vw;
      }

      & .header-h5 {
        font-size: 1.397515vw;
      }

      & .header-p {
        font-size: 1.242236vw;
      }
    }

    &-wrapper {
      box-sizing: border-box;
      left: 0;
      position: relative;
      width: 100%;

      @include media-breakpoint("xs") {
        padding: 24px 16px;
      }
      @include media-breakpoint("sm") {
        padding: 24px;
      }
      @include media-breakpoint("lg") {
        padding: 0;
        position: absolute;
      }
    }
    &-container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  &__icon {
    border-radius: 50%;
    bottom: -16px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    right: 24px;
    width: 100px;
    .image {
      width: 100%;
      height: 100%;
    }

    @include media-breakpoint("xs") {
      height: 100px;
      width: 100px;
    }
    @include media-breakpoint("sm") {
      height: 110px;
      width: 110px;
    }
    @include media-breakpoint("md") {
      height: 120px;
      width: 120px;
    }
    @include media-breakpoint("xl") {
      height: 140px;
      width: 140px;
    }
  }

  &--combo-shuttle {
    &-combo-1 {
      .hero__body-wrapper {
        background-color: $color-midnight;
        border-image: linear-gradient(
            to top,
            $color-shuttle-green 0%,
            $color-shuttle-green 33%,
            $color-buoy 33%,
            $color-buoy 66%,
            $color-buoy-light 66%,
            $color-buoy-light 100%
          )
          0 0 0 50;
        border-left: 8px solid;
        [class^="header-"] {
          color: $color-white;
        }
        & .p {
          color: $color-white;
        }
        & .span {
          color: $color-buoy;
        }
      }
    }
    &-combo-2 {
      .hero__body-wrapper {
        background-color: $color-buoy-light;
        border-image: linear-gradient(
            to top,
            $color-shuttle-green 0%,
            $color-shuttle-green 33%,
            $color-buoy 33%,
            $color-buoy 66%,
            $color-midnight 66%,
            $color-midnight 100%
          )
          0 0 0 50;
        border-left: 8px solid;
        [class^="header-"] {
          color: $color-midnight;
        }
        & .p {
          color: $color-midnight;
        }
        & .span {
          color: $color-buoy;
        }
      }
    }
    &-shuttle-1 {
      .hero__body-wrapper {
        @include shuttle-background-color-pattern() {
          background-color: $color-shuttle-green;
        }
        [class^="header-"] {
          color: $color-white;
        }
        & .p {
          color: $color-white;
        }
        & .span {
          color: $color-lemon;
        }
      }
    }
    &-shuttle-2 {
      .hero__body-wrapper {
        @include shuttle-background-color-pattern() {
          background-color: $color-dance-floor;
        }
        [class^="header-"] {
          color: $color-white;
        }
        & .p {
          color: $color-white;
        }
        & .span {
          color: $color-lemon;
        }
      }
    }
    .hero__icon {
      right: 24px;
      @include media-breakpoint("xs") {
        top: 16px;
        transform: translate(0, -100%);
      }
    }
    &.hero {
      &--mode {
        &-half-bleed {
          .hero {
            &__icon {
              @include media-breakpoint("lg") {
                left: calc(100% + 24px);
                top: -24px;
                transform: none;
              }
            }
          }
        }
        &-full-bleed {
          .hero {
            &__icon {
              @include media-breakpoint("lg") {
                left: calc(100% + 24px);
                top: -24px;
                transform: none;
              }
            }
          }
        }
      }
    }
  }

  &--cruise {
    &-combo-1 {
      .hero__body {
        & .p {
          color: $color-white;
        }
        & .span {
          color: $color-sunset;
        }
        &-wrapper {
          background-color: $color-midnight;
          @include media-breakpoint("xs") {
            padding: 24px 16px;
          }
          @include media-breakpoint("sm") {
            padding: 32px 24px;
          }
          @include media-breakpoint("lg") {
            padding: 32px;
          }
        }
        &-container {
          @include media-breakpoint("xs") {
            padding: 0px 16px 16px;
          }
          @include media-breakpoint("sm") {
            padding: 0px 24px 24px;
          }
          @include media-breakpoint("lg") {
            position: relative;
            padding: 32px 0 32px 32px;
          }
          &:before {
            content: "";
            border: 1px solid $color-white;
            border-radius: 12px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;

            @include media-breakpoint("xs") {
              margin: 24px 16px;
              top: -48px;
            }
            @include media-breakpoint("sm") {
              margin: 32px 24px;
              top: -64px;
            }
            @include media-breakpoint("lg") {
              margin: 0 -32px 0 0;
              top: 0;
            }
          }
        }
      }
    }
    &-combo-2 {
      .hero__body {
        /*[class^="header-"] {
          color: $color-white;
        }*/
        & .p {
          color: $color-white;
        }
        & .span {
          color: $color-sunset;
        }
        &-wrapper {
          background-color: $color-buoy;
          @include media-breakpoint("xs") {
            padding: 24px 16px;
          }
          @include media-breakpoint("sm") {
            padding: 32px 24px;
          }
          @include media-breakpoint("lg") {
            padding: 32px;
          }
        }
        &-container {
          @include media-breakpoint("xs") {
            padding: 0px 16px 16px;
          }
          @include media-breakpoint("sm") {
            padding: 0px 24px 24px;
          }
          @include media-breakpoint("lg") {
            position: relative;
            padding: 32px 0 32px 32px;
          }
          &:before {
            content: "";
            border: 1px solid $color-midnight;
            border-radius: 12px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;

            @include media-breakpoint("xs") {
              margin: 24px 16px;
              top: -48px;
            }
            @include media-breakpoint("sm") {
              margin: 32px 24px;
              top: -64px;
            }
            @include media-breakpoint("lg") {
              margin: 0 -32px 0 0;
              top: 0;
            }
          }
        }
      }
    }

    .hero__icon {
      @include media-breakpoint("xs") {
        right: 32px;
        top: 16px;
        transform: translate(0, -100%);
      }
      @include media-breakpoint("sm") {
        right: 48px;
      }
      @include media-breakpoint("md") {
        right: 56px;
      }
    }

    &.hero {
      &--mode {
        &-half-bleed {
          .hero {
            &__icon {
              @include media-breakpoint("lg") {
                left: calc(100% + 24px);
                top: 0;
                transform: translate(
                  calc($padding-value-calculation - 60px),
                  0
                );
              }
              @include media-breakpoint("xl") {
                transform: translate(
                  calc($padding-value-calculation - 70px),
                  0
                );
              }
            }
          }
        }
        &-full-bleed {
          .hero {
            &__icon {
              @include media-breakpoint("lg") {
                left: calc(100% + 8px);
                top: -56px;
                transform: none;
              }
            }
          }
        }
      }
    }
  }

  &--mode {
    &-full-bleed {
      @include media-breakpoint("lg") {
        .hero {
          &__body {
            height: 100%;
            &-wrapper {
              display: flex;
              justify-content: center;
              height: 100%;
              width: calc(50% - 12px);
              padding: $padding-value-calculation 0px $padding-value-calculation
                $padding-value-calculation;
              left: 0;
              top: 50%;
              transform: translate(0, -50%);
              background-color: transparent !important;
              background-image: none !important;
              border: none !important;
            }
            &-container {
              align-self: center;
            }
          }
        }
      }
    }
    &-half-bleed {
      @include media-breakpoint("lg") {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        .hero {
          &__image {
            flex: 1 0 50%;
            aspect-ratio: 3 / 2;
          }

          &__body {
            &-wrapper {
              flex: 1 0 50%;
              padding: 0;
              position: relative;
              @include media-breakpoint("lg") {
                padding: $padding-value-calculation;
              }
            }
            &-container {
              &:before {
                @include media-breakpoint("lg") {
                  margin: 0 calc($padding-value-calculation * -1 - 22px) 0 0;
                  top: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  &--center {
    .hero {
      &__body {
        align-items: center;
        text-align: center;
      }
    }
    &-fb {
      @include media-breakpoint("lg") {
        .hero {
          &__body-wrapper {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 0;
          }
        }
      }
    }
  }
}
