.icon {
  object-fit: contain;
  flex-grow: 0;
  width: calc(var(--size) * 1px);
  height: calc(var(--size) * 1px);
  @include set-svg-color(#{var(--color, $color-midnight)});
  &--error {
    @include set-svg-color($color-error);
  }
  &--success {
    @include set-svg-color($color-action);
  }
  &--important {
    @include set-svg-color($color-midnight);
  }
  &--info {
    @include set-svg-color($color-info);
  }
}
