.modal {
  &-overlay {
    background-color: rgba($color-white, 0.8);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
    display: none;
    &-open {
      display: block;
    }
  }
  &-container {
    display: none;
    background-color: $color-white;
    margin: auto;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 0;
    left: 0;
    right: 0;
    position: absolute;
    bottom: null;
    margin-bottom: 0;
    box-shadow: 0 8px 16px 0 rgba($color-black, 0.1);
    margin-top: 24px;
    width: 100%;
    &-bottom {
      bottom: 0;
    }
    &-open {
      display: block;
    }
  }
  &-close-button {
    opacity: 0.8;
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    &-container {
      :hover {
        opacity: 1;
        &:hover:not(&:disabled) {
          background-color: $color-white;
          border-color: $color-white;
        }
        cursor: pointer;
      }
      position: absolute;
      right: 0;
      top: 0;
      padding: 16px;
    }
  }
  &-footer {
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-seafoam;
    font-family: $font-family;
    padding: 16px;
  }
  &-body {
    background-color: $color-white;
    padding: 16px;
  }
  &-content {
    position: relative;
    align-self: stretch;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    background-color: $color-white;
    font-family: $font-family;
  }
}

@include media-breakpoint("xs") {
  .modal-body {
    &-body {
      padding: 16px;
    }
    &-footer {
      padding: 16px;
    }
    &-container {
      width: 100%;
    }
    &-close-button-container {
      padding: 16px;
    }
  }
}
@include media-breakpoint("sm") {
  .modal {
    &-body {
      padding: 24px;
    }
    &-footer {
      padding: 16px 24px;
    }
    &-close-button-container {
      padding: 24px;
    }
    &-container {
      width: 62%;
    }
  }
}
 @include media-breakpoint("lg")  {
  .modal {
    &-body {
      padding: 32px;
    }
    &-footer {
      padding: 24px 32px;
    }
    &-close-button-container {
      padding: 32px;
    }
  }
}
