.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &__items {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    height: 48px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    & > li {
      max-width: 8px;
      min-width: 8px;
      height: 8px;
      margin-right: 6px;
      border-radius: 4px;
      background-color: $color-midnight;
    }
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    z-index: 1;

    &-previous {
      margin-right: 16px;
    }

    &-previous,
    &-next {
      display: flex;
      width: 32px;
      height: 48px;
      border: none;
      border-radius: 4px;
      background-color: $color-white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
      align-items: center;
      justify-content: center;
    }
  }
}
