.sidebar {
  &__inner {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  background-color: $color-white;
  min-height: 40px;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));

  &__item {
    margin: 10px;
    min-width: 0;
  }

  &--sticky {
    position: sticky;
    top: 96px;
    z-index: 1;
    .sidebar__inner {
      align-self: flex-start;
    }
  }
}
