.sa-alert {
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  max-width: 100%;

  &-left {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    gap: 6px;
  }

  &-icon {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-self: center;
    padding: 1px 0;
    padding-right: 24px;
  }
  &-body {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    &-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 6px;
    }
  }
  &-interactions {
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 24px;
    background-image: linear-gradient(
      to top,
      $color-midnight 33%,
      rgba($color-black, 0) 0%
    );
    background-position: left;
    background-size: 1px 5px;
    background-repeat: repeat-y;
    min-height: 100%;
    align-self: stretch;
    padding-left: 24px;
  }

  &--info {
    background-color: $color-pool-light;
    box-shadow: inset 4px 0 0 0 $color-info;
  }
  &--error {
    background-color: $color-sunset;
    box-shadow: inset 4px 0 0 0 $color-error;
  }
  &--success {
    background-color: $color-buoy-light;
    box-shadow: inset 4px 0 0 0 $color-buoy;
  }
  &--large {
    gap: 24px;
    padding: 16px 24px 16px 28px;
  }
  &--small {
    gap: 16px;
    padding: 12px 16px 12px 20px;
  }
  &--border {
    box-shadow: none;
    &.sa-alert--large {
      padding: 16px 24px 16px 24px;
    }
    &.sa-alert--small {
      padding: 12px 16px 12px 16px;
    }
  }
  &--direction-column {
    flex-direction: column;
    .sa-alert-interactions {
      background-image: linear-gradient(
        to left,
        $color-midnight 33%,
        rgba($color-black, 0) 0%
      );
      background-position: top;
      background-size: 5px 1px;
      background-repeat: repeat-x;
      min-width: 100%;
      padding-top: 12px;
      padding-left: 0px;
      gap: 12px;
      flex-direction: column;
    }
    .sa-alert-large {
      gap: 12px;
    }
    .sa-alert-small {
      gap: 6px;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    .sa-alert-interactions {
      flex-direction: column;
      gap: 12px;
      background-image: linear-gradient(
        to left,
        $color-midnight 33%,
        rgba($color-black, 0) 0%
      );
      background-position: top;
      background-size: 5px 1px;
      background-repeat: repeat-x;
      min-width: 100%;
      padding-top: 12px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
}
