.p {
  &--size {
    &-lead {
      @include typography-h5;
      margin: 0;
    }

    &-p {
      @include typography-body;
      margin: 0;
    }

    &-small {
      @include typography-small;
      margin: 0;
    }

    &-tiny {
      @include typography-tiny;
      margin: 0;
    }
  }
  &--color {
    @each $class, $color in $colors {
      &-#{"" + $class} {
        color: #{$color};
      }
    }
  }
}
