body{
    margin-top: 30px;
    background-color: #eee;
}
.container,
.container-fluid {
    margin-bottom: 30px;
}

.box{
    padding: var(--cell-gap) var(--cell-gap) var(--cell-gap) var(--cell-gap);
}

.box2 > img {
    max-width: 100%;
}

@media screen and (min-width: 360px) {
    .box {
        --gap_size: 16px;
        --cell-gap: calc(var(--gap_size)/2);
    }
}

@media screen and (min-width: 800px) {
    .box {
        --gap_size: 24px;
        --cell-gap: calc(var(--gap_size)/2);
    }
}