@include create-margin-spaces();
@include create-padding-spaces();

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint(#{$breakpoint}) {
    @include create-margin-spaces($breakpoint);
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint(#{$breakpoint}) {
    @include create-padding-spaces($breakpoint);
  }
}
