@font-face {
    font-family: 'WalsheimProBold';
    src: local('WalsheimProBold'),
    url('./fonts/GT-Walsheim-Pro-Bold.woff') format('woff'),
    url('./fonts/GT-Walsheim-Pro-Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'WalsheimProBoldOblique';
    src: local('WalsheimProBoldOblique'),
    url('./fonts/GT-Walsheim-Pro-Bold-Oblique.woff') format('woff'),
    url('./fonts/GT-Walsheim-Pro-Bold-Oblique.woff2') format('woff2');
}
@font-face {
    font-family: 'WalsheimProMedium';
    src: local('WalsheimProMedium'),
    url('./fonts/GT-Walsheim-Pro-Medium.woff') format('woff'),
    url('./fonts/GT-Walsheim-Pro-Medium.woff2') format('woff2');
}
@font-face {
    font-family: 'WalsheimProMediumOblique';
    src: local('WalsheimProMediumOblique'),
    url('./fonts/GT-Walsheim-Pro-Medium-Oblique.woff') format('woff'),
    url('./fonts/GT-Walsheim-Pro-Medium-Oblique.woff2') format('woff2');
}
@font-face {
    font-family: 'WalsheimProRegular';
    src: local('WalsheimProRegular'),
    url('./fonts/GT-Walsheim-Pro-Regular.woff') format('woff'),
    url('./fonts/GT-Walsheim-Pro-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'WalsheimProRegularOblique';
    src: local('WalsheimProRegularOblique'),
    url('./fonts/GT-Walsheim-Pro-Regular-Oblique.woff') format('woff'),
    url('./fonts/GT-Walsheim-Pro-Regular-Oblique.woff2') format('woff2');
}