@font-face {
  font-display: swap;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/GT-Walsheim-Pro-Regular.ttf") format("truetype"),
    url("../../fonts/GT-Walsheim-Pro-Regular.woff") format("woff"),
    url("../../fonts/GT-Walsheim-Pro-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "GT Walsheim Pro";
  font-style: italic;
  font-weight: 400;
  src: url("../../fonts/GT-Walsheim-Pro-Regular-Oblique.ttf") format("truetype"),
    url("../../fonts/GT-Walsheim-Pro-Regular-Oblique.woff") format("woff"),
    url("../../fonts/GT-Walsheim-Pro-Regular-Oblique.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/GT-Walsheim-Pro-Medium.ttf") format("truetype"),
    url("../../fonts/GT-Walsheim-Pro-Medium.woff") format("woff"),
    url("../../fonts/GT-Walsheim-Pro-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "GT Walsheim Pro";
  font-style: italic;
  font-weight: 500;
  src: url("../../fonts/GT-Walsheim-Pro-Medium-Oblique.ttf") format("truetype"),
    url("../../fonts/GT-Walsheim-Pro-Medium-Oblique.woff") format("woff"),
    url("../../fonts/GT-Walsheim-Pro-Medium-Oblique.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/GT-Walsheim-Pro-Bold.ttf") format("truetype"),
    url("../../fonts/GT-Walsheim-Pro-Bold.woff") format("woff"),
    url("../../fonts/GT-Walsheim-Pro-Bold.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "GT Walsheim Pro";
  font-style: italic;
  font-weight: 700;
  src: url("../../fonts/GT-Walsheim-Pro-Bold-Oblique.ttf") format("truetype"),
    url("../../fonts/GT-Walsheim-Pro-Bold-Oblique.woff") format("woff"),
    url("../../fonts/GT-Walsheim-Pro-Bold-Oblique.woff2") format("woff2");
}
