.grid {
  display: grid;
  justify-items: start;
  --col_num: 12;
  grid-template-columns: repeat(var(--col_num), 1fr);

  @each $dimen in map-keys($grid-dimensions) {
    @include media-breakpoint($dimen, $dimen) {
      @include set-grid-sveta-props($dimen);
    }
  }
  & > div {
    width: 100%;
  }
}

.grid_with_last_row_span {
  display: grid;
  justify-items: start;
  --col_num: 12;
  grid-template-columns: repeat(var(--col_num), 1fr);

  @each $dimen in map-keys($grid-dimensions) {
    @include media-breakpoint($dimen, $dimen) {
      @include set-grid-sveta-props($dimen);
        @include set-grid-sveta-span-rules($dimen);
    }
  }
  & > div {
    width: 100%;
  }
}