@import "grid-margus-col";
@import "grid-margus-row";

.grid-margus {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @include media-breakpoint("sm") {
    padding: 0 20px;
  }

  @include media-breakpoint("md") {
    padding: 0 28px;
  }

  @include media-breakpoint("lg") {
    padding: 0 32px;
  }

  @include media-breakpoint("xl") {
    max-width: 1288px;
  }

  &--fluid {
    .grid-margus__col {
      flex-grow: 1;
    }
    padding: 0;
    overflow: hidden;
  }
}
