.grid-margus__row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 1 auto;
  box-sizing: border-box;
  --grid-gap: #{$grid-gap-16};

  @include row-gap();

  @include media-breakpoint("md") {
    --grid-gap: #{$grid-gap-24};
  }

  &--horizontal-center {
    justify-content: center;
  }
  &--horizontal-left {
    justify-content: flex-start;
  }
  &--horizontal-right {
    justify-content: flex-end;
  }
  &--horizontal-space-between {
    justify-content: space-between;
  }

  &--vertical-top {
    align-items: flex-start;
  }
  &--vertical-bottom {
    align-items: flex-end;
  }
  &--vertical-center {
    align-items: center;
  }
  &--vertical-stretch {
    align-items: stretch;
  }
}
