.grid-margus__col {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  flex: 0 0 auto;

  @include create-grid-columns;

  @include column-gap;

  &--align-start {
    align-items: flex-start;
  }
  &--align-end {
    align-items: flex-end;
  }
  &--align-center {
    align-items: center;
  }
}
