.modal-overlay {
  background-color:rgba(255,255,255,0.8);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal {
  background-color: white;
  margin: auto;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
  left: 0;
  right: 0;
  position: fixed;
}
.modal-bottom {
  bottom: 0;
}

.modal-content {
  position: relative;
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  background-color: white;
}

.modal-close-button {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.8;
  border: none;
  background: none;
}
.modal-close-button:hover {
  path {
    fill: #004152;
  }
  cursor: pointer;
}

.modal-body {
  background-color: white;
}

.modal-footer {
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f5f8f7;
}

@media screen and (min-width: 360px) {
  .modal {
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    margin-top: 24px;
  }
  .modal-body, .modal-close-button {
    padding: 16px;
  }
  .modal-footer {
    padding: 16px;
  }
}
@media screen and (min-width: 600px) {
  .modal {
    width: 62%;
  }
  .modal-bottom{
    margin-bottom: 24px;
  }
  .modal-body, .modal-close-button {
    padding: 24px;
  }
  .modal-footer {
    padding: 16px 24px;
  }
}
@media screen and (min-width: 800px) {
  .modal-body, .modal-close-button {
    padding: 24px;
  }
  .modal-footer {
    padding: 16px 24px;
  }
}
@media screen and (min-width: 1024px) {
  .modal-body, .modal-close-button {
    padding: 32px;
  }
  .modal-footer {
    padding: 24px 32px;
  }
}
