.double {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
}

.triple {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}





.containerH {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.containerV {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}


.block {
    color: #0a58ca;
    text-align: center;
    background-color: #aaaaaa;
    margin: 5px;
}


.doubleBlock {
    flex: 2;
}

.singleBlock {
    flex: 1;
}