$color-action: #00ecc9;
$color-action-light: #6cffdc;
$color-bottom-of-the-sea: #00122d;
$color-buoy: #00bea2;
$color-buoy-light: #cdf8eb;
$color-dark-grey: #7799a1;
$color-dance-floor: #5a1eb4;
$color-error: #d97e7e;
$color-group-grey: #eef1f1;
$color-info: #6ecbd9;
$color-lemon: #fafab4;
$color-buoy-link: #009d85;
$color-logotype-blue: #004c93;
$color-logotype-red: #e5312a;
$color-medium-grey: #d6dfdf;
$color-midnight: #004152;
$color-notice: #ff37a2;
$color-pool-light: #c2f7ff;
$color-seafoam: #f5f8f7;
$color-shuttle-green: #00a861;
$color-sunset: #ffc8be;
$color-twilight: #396a76;
$color-white: #ffffff;
$color-black: #000000;

$color-dark-pink: #c06f6f;
$color-light-pink: #f49090;

$font-family: "GT Walsheim Pro", Arial, Helvetica, sans-serif;

$grid-dimensions: (
  "xl": (
    "cols": 12,
    "grid-gap": 24px,
    "margin": 32px auto,
    "max-width": 1224px,
  ),
  "lg": (
    "cols": 12,
    "grid-gap": 24px,
    "margin": 32px,
  ),
  "md": (
    "cols": 6,
    "grid-gap": 24px,
    "margin": 28px,
  ),
  "sm": (
    "cols": 6,
    "grid-gap": 16px,
    "margin": 20px,
  ),
  "xs": (
    "cols": 4,
    "grid-gap": 16px,
    "margin": 16px,
  ),
);

$grid-breakpoints: (
  "xs": (
    "min": 360px,
    "max": 600px,
  ),
  "sm": (
    "min": 600px,
    "max": 800px,
  ),
  "md": (
    "min": 800px,
    "max": 1024px,
  ),
  "lg": (
    "min": 1024px,
    "max": 1287px,
  ),
  "xl": (
    "min": 1288px,
    "max": null,
  ),
);

$grid-cols: 12;
$grid-gap-16: 16px;
$grid-gap-24: 24px;

$spaces: 0, 2, 4, 6, 8, 10, 12, 16, 20, 24, 28, 32;
$directions: (
  top: "t",
  left: "l",
  right: "r",
  bottom: "b",
);
