
$grid-breakpoints: (
        xs: 0,
        sm: 360px,
        md: 600px,
        lg: 800px,
        xl: 1024px,
        xxl: 1228px
);
$spacer: 1rem;
$spacers: (
        0: 0,
        1: $spacer * .25,
        2: $spacer,
        3: $spacer * 1.25,
        4: $spacer * 1.75,
        5: $spacer * 2,
);
$body-color: #111;
@import "../bootstrap-5.1.3/scss/bootstrap";

