@use "src/scss/mixins" as *;

// Table made using div-s
.grid-table {
  width: 100%;
  overflow-x: auto;
  margin: 10px;
  padding-bottom: 15px;
  .grid-table-row {
    display: grid;
    column-gap: var(--gap-size);
    grid-auto-columns: minmax(
      calc((100% - (var(--col-num) - 1) * var(--gap-size)) / var(--col-num)),
      1fr
    );
    grid-template-columns: repeat(
      var(--col-num),
      minmax(
        calc((100% - (var(--col-num) - 1) * var(--gap-size)) / var(--col-num)),
        1fr
      )
    );
    grid-auto-flow: column;
    --col-num: 4;
    --gap-size: 16px;
    @media screen and (min-width: 360px) {
      --col-num: 4;
      --gap-size: 16px;
      & > div {
        grid-column: span 2;
      }
    }
    @media screen and (min-width: 600px) {
      --col-num: 6;
      --gap-size: 16px;
      & > div {
        @include set-col-width-for-table-by-col-count(3) {
          grid-column: span calc(var(--col-num) / 3);
        }
      }
    }
    @media screen and (min-width: 800px) {
      --col-num: 6;
      --gap-size: 24px;
    }
    @media screen and (min-width: 1024px) {
      --col-num: 12;
      --gap-size: 24px;
      & > div {
        @include set-col-width-for-table-by-col-count(4) {
          grid-column: span calc(var(--col-num) / 4);
        }
        grid-column: span 3;
      }
    }
    @media screen and (min-width: 1288px) {
      --col-num: 12;
      --gap-size: 24px;
      & > div {
        @include set-col-width-for-table-by-col-count(6) {
          grid-column: span calc(var(--col-num) / 6);
        }
        grid-column: span 2;
      }
    }
    & > div {
      width: 100%;
      border: 1px solid green;
      @include set-col-width-for-table-by-col-count(1) {
        grid-column: span var(--col-num);
      }
      @include set-col-width-for-table-by-col-count(2) {
        grid-column: span calc(var(--col-num) / 2);
      }
    }
  }
}

//Table made using table tags and wrapped around grid
.grid-wrapper {
  overflow-x: auto;
  width: calc(100% - var(--margin-width));
  display: grid;
  margin-left: var(--margin-size);
  --margin-size: 16px;
  --margin-width: var(--margin-size) * 2;
  table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    tr {
      background-image: linear-gradient(
        to right,
        black 33%,
        rgba(255, 255, 255, 0) 0%
      );
      background-position: bottom;
      background-size: 5px 1px;
      background-repeat: repeat-x;
    }
    td,
    th {
      height: 45px;
      text-align: left;
      vertical-align: top;
      padding: 0 8px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      @include set-col-width-for-table-by-col-count(1) {
        min-width: 100%;
      }
    }
  }
  @media screen and (min-width: 360px) {
    th,
    td {
      @include set-col-width-for-table-by-col-count(2) {
        width: 50vw;
      }
      min-width: 45vw;
    }
  }
  @media screen and (min-width: 600px) {
    th,
    td {
      @include set-col-width-for-table-by-col-count-loop(3);
      min-width: 30vw;
    }
    --margin-size: 20px;
  }
  @media screen and (min-width: 800px) {
    th,
    td {
      @include set-col-width-for-table-by-col-count-loop(3);
      min-width: 30vw;
      padding: 0 12px;
    }
    --margin-size: 28px;
  }
  @media screen and (min-width: 1024px) {
    th,
    td {
      @include set-col-width-for-table-by-col-count-loop(4);
      min-width: 23vw;
    } 
    --margin-size: 32px;
  }
  @media screen and (min-width: 1288px) {
    th,
    td {
      @include set-col-width-for-table-by-col-count-loop(6);
      min-width: 15vw;
    }
  }
}
