@media screen {
    .grid {
        --col_num: 4;
        display: grid;
        margin: 16px;
        grid-gap: 10px;
        border: 1px solid red;
        grid-template-columns: repeat(var(--col_num), 1fr);
        grid-template-rows: auto;
        justify-items: start
    }
}

.grid div {
    border: 1px solid #ccc;
    width: 100%;
}

.grid div img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media screen and (min-width: 360px) and (max-width: 599px){
    .grid {
        --col_num: 4;
        --grid_gap: 10;
        display: grid;
        margin: 16px;
        grid-gap: 10px;
        border: 1px solid red;
        grid-template-columns: repeat(var(--col_num), 1fr);
        grid-template-rows: auto;
        justify-items: start
    }

    .grid > div:nth-child(4n-3) {
        text-align: left;
    }

    .grid > div:nth-child(4n-1) {
        text-align: center;
    }

    .grid > div:nth-child(4n-2) {
        text-align: center;
    }

    .grid > div:nth-child(4n) {
        text-align: right;
    }

    /* elemendi indeksi 4 jagamisel jaak on 1 ja ta on viimane element. */
    .grid > div:nth-child(4n-3):nth-last-of-type(1) {
        border-color: blue;
        grid-column: span calc(var(--col_num));
    }

    /* elemendi indeksi 4 jagamisel jaak on 1 ja ta on eelviimane element. */
    .grid > div:nth-child(4n-3):nth-last-of-type(2) {
        border-color: green;
        grid-column: span calc(var(--col_num) / 2);
    }

    /* elemendi indeksi 4 jagamisel jaak on 2 ja ta on viimane element. */
    .grid > div:nth-child(4n-2):nth-last-of-type(1) {
        border-color: blue;
        grid-column-start: 3;
        grid-column-end: -1;
    }

    /* elemendi indeksi 4 jagamisel jaak on 1 ja ta on 3 LÕPUST. */
    .grid > div:nth-child(4n-3):nth-last-of-type(3) {
        --encrease_per: calc((4 * 100 + 3 * var(--grid_gap)- 2 * var(--grid_gap)/3));
        border-color: blue;
        position: relative;
        width: calc(137%);
        left: 0;
    }

    /* elemendi indeksi 4 jagamisel jaak on 2 ja ta on EELVIMANE element. */
    .grid > div:nth-child(4n-2):nth-last-of-type(2) {
        border-color: blue;
        grid-column-start: 2;
        position: relative;
        width: calc(137%);
       left: calc(37% - 1px);
    }

    /*  elemendi indeksi 4 jagamisel jaak on 3  ja VIIMANE element */
    .grid > div:nth-child(4n-1):nth-last-of-type(1) {
        justify-self: end;
        border-color: blue;
        position: relative;
        grid-column-start: 4;
        width: calc(137%);
    }
}

@media screen and (min-width: 600px)  and (max-width: 1023px){
    .grid {
        --col_num: 6;
        margin: 20px;
        grid-gap: 16px;
        border: 1px solid green;
    }

    .grid div {
        border: 1px solid #ccc;
        width: 100%;
    }

    .grid > div:nth-child(6n-5) {
        text-align: center;
    }

    .grid > div:nth-child(6n-4) {
        text-align: center;
    }

    .grid > div:nth-child(6n-3) {
        text-align: center;
    }

    .grid > div:nth-child(6n-2) {
        text-align: center;
    }

    .grid > div:nth-child(6n-1) {
        text-align: center;
    }

    .grid > div:nth-child(6n) {
        text-align: right;
    }


    /* 1 column */
    /* elemendi indeksi 6 jagamisel jaak on 1 ja ta on viimane element */
    .grid > div:nth-child(6n-5):nth-last-of-type(1) {
        border-color: yellow;
        grid-column: span calc(var(--col_num));
    }

    /* 2 columns, 1 cell */
    /* elemendi indeksi 6 jagamisel jaak on 1 ja ta on eelviimane element */
    .grid > div:nth-child(6n-5):nth-last-of-type(2) {
        border-color: yellow;
        grid-column: span 3;
    }
    /* 2 columns, 2 cell */
    /* elemendi indeksi 6 jagamisel jaak on 2 ja ta on viimane element */
    .grid > *:nth-child(6n-4):nth-last-of-type(1) {
        border-color: yellow;
        grid-column-start: 4;
        grid-column: span 3;
    }

    /* 3 columns, 1 cell */
    /* elemendi indeksi 6 jagamisel jaak on 1 ja ta on 3 LÕPUST*/
    .grid > div:nth-child(6n-5):nth-last-of-type(3) {
        border-color: yellow;
        grid-column: span 2;
    }
    /* 3 columns, 2 cell */
    /* elemendi indeksi 6 jagamisel jaak on 2 ja ta on eelviimane element */
    .grid > *:nth-child(6n-4):nth-last-of-type(2) {
        border-color: yellow;
        grid-column-start: 3;
        grid-column: span 2;
    }
    /* 3 columns, 3 cell */
    /* elemendi indeksi 6 jagamisel jaak on 3 ja ta on viimane element */
    .grid > *:nth-child(6n-3):nth-last-of-type(1) {
        border-color: yellow;
        grid-column-start: 5;
        grid-column: span 2;
    }

    /* 4 columns, 1 element in the last row
    --gup_num: calc(var(--col_num) - 1);
        --new_col_num: 4;
        --new_gup_num: 3;
        --encrease_per: calc((var(--col_num) * 100 + var(--grid_gap) * (var(--gup_num) - var(--new_gup_num)) / var(--new_col_num)));
        155%
    */
    /* elemendi indeksi 6 jagamisel jaak on 1 ja ta on 4 LÕPUST*/
    .grid > div:nth-child(6n-5):nth-last-of-type(4) {
        border-color: magenta;
        grid-column-start: 1;
        position: relative;
        width: calc(155%);
        left: 0;
    }
    /* 4 columns, 2 element in the last row */
    /* elemendi indeksi 6 jagamisel jaak on 2 ja ta on 3 LÕPUST*/
    .grid > div:nth-child(6n-4):nth-last-of-type(3) {
        border-color: magenta;
        position: relative;
        grid-column-start: 2;
        width: calc(155%);
        left: calc(55% + 5px);
    }
    /* 4 columns, 3 element in the last row */
    /* elemendi indeksi 6 jagamisel jaak on 3 ja ta on eelviimane element */
    .grid > div:nth-child(6n-3):nth-last-of-type(2) {
        border-color: magenta;
        position: relative;
        grid-column-start: 3;
        width: calc(155%);
        left: calc(55% + 5px + 55% + 5px);
    }
    /* 4 columns, 4 element in the last row */
    /* elemendi indeksi 6 jagamisel jaak on 4 ja ta on viimane element */
    .grid > div:nth-child(6n-2):nth-last-of-type(1) {
        border-color: magenta;
        position: relative;
        justify-self: end;
        grid-column-start: 6;
        width: calc(155%);
    }

    /*
   --gup_num: calc(var(--col_num) - 1);
       --new_col_num: 5;
       --new_gup_num: 4;
       --encrease_per: calc((var(--col_num) * 100 + var(--grid_gap) * (var(--gup_num) - var(--new_gup_num)) / var(--new_col_num)));
       122%
   5 columns, 1 element in the last row
   */

    .grid > div:nth-child(6n-5):nth-last-of-type(5) {
        border-color: #00cc00;
        grid-column-start: 1;
        position: relative;
        width: calc(122%);
        left: 0;
    }
    /* 5 columns, 2 element in the last row */
    /* Element index division by 6 reminder is 2 and it is 4 from the end element */
    .grid > div:nth-child(6n-4):nth-last-of-type(4) {
        border-color: #00cc00;
        position: relative;
        grid-column-start: 2;
        width: calc(122%);
        left: calc(22% );
    }

    /* 5 columns, 3 element in the last row */
    /* Element index division by 6 reminder is 3 and it is 3 from the end element */
    .grid > div:nth-child(6n-3):nth-last-of-type(3) {
        border-color: #00cc00;
        position: relative;
        grid-column-start: 3;
        width: calc(122%);
        left: calc(22% + 22% + 8px);
    }

    /* 5 columns, 4 element in the last row */
    /* Element index division by 6 reminder is 4 and it is 2 from the end element */
    .grid > div:nth-child(6n-2):nth-last-of-type(2) {
        border-color: #00cc00;
        position: relative;
        grid-column-start: 4;
        width: calc(122%);
        left: calc(22% + 22% + 22% + 8px);
    }

    /* 5 columns, 5 element in the last row */
    /* Element index division by 6 reminder is 5 and it is last element in the row*/
    .grid > div:nth-child(6n-1):nth-last-of-type(1) {
        border-color: #00cc00;
        justify-self: end;
        position: relative;
        grid-column-start: 6;
        width: calc(122%);
    }
}

@media screen and (min-width: 800px) and (max-width: 1023px){
    .grid {
        display: grid;
        margin: 32px;
        grid-gap: 24px;
        border: 1px solid dodgerblue;
    }
}

@media screen and (min-width: 1024px) {
    .grid {
        --col_num: 12;
        display: grid;
        margin: 32px;
        grid-gap: 24px;
        border: 1px solid rosybrown;
    }

    /* 1 column */
    /* Element index division by 12 reminder is 1 and it is last element in the row*/
     .grid > div:nth-child(12n-11):nth-last-of-type(1) {
        border-color: darkorange;
        grid-column: span calc(var(--col_num));
    }
    /* 2 columns, 1 cell */
    /* Element index division by 12 reminder is 1 and it is second from the end */
    .grid > div:nth-child(12n-11):nth-last-of-type(2) {
        border-color: darkorange;
        grid-column: span 6;
    }
    /* 2 columns, 2 cell */
    /* Element index division by 12 reminder is 2 and it is last element in the row*/
    .grid > div:nth-child(12n-10):nth-last-of-type(1) {
        border-color: darkorange;
        grid-column-start: 7;
        grid-column: span 6;
    }

    /* 3 columns, 1 cell */
    /* Element index division by 12 reminder is 1 and it is 3 from the end */
    .grid > div:nth-child(12n-11):nth-last-of-type(3) {
        border-color: darkorange;
        grid-column: span 4;
    }
    /* 3 columns, 2 cell */
    /* Element index division by 12 reminder is 2 and it is 2 from the end */
    .grid > div:nth-child(12n-10):nth-last-of-type(2) {
        border-color: darkorange;
        grid-column-start: 5;
        grid-column: span 4;
    }
    /* 3 columns, 3 cell */
    /* elemendi indeksi 6 jagamisel jaak on 3 ja ta on viimane element */
    /* Element index division by 12 reminder is 2 and it is last element in the row */
    .grid > *:nth-child(12n-9):nth-last-of-type(1) {
        border-color: darkorange;
        grid-column-start: 8;
        grid-column: span 4;
    }

    /* 4 columns, 1 cell */
    /* Element index division by 12 reminder is 1 and it is 4 from the end */
    .grid > div:nth-child(12n-11):nth-last-of-type(4) {
        border-color: darkorange;
        grid-column: span 3;
    }

    /* 4 columns, 2 cell */
    /* Element index division by 12 reminder is 2 and it is 3 from the end */
    .grid > div:nth-child(12n-10):nth-last-of-type(3) {
        border-color: darkorange;
        grid-column-start: 4;
        grid-column: span 3;
    }

    /* 4 columns, 3 cell */
    /* Element index division by 12 reminder is 3 and it is 2 from the end */
    .grid > div:nth-child(12n-9):nth-last-of-type(2) {
        border-color: darkorange;
        grid-column-start: 7;
        grid-column: span 3;
    }

    /* 4 columns, 4 cell */
    /* Element index division by 12 reminder is 4 and it is 1 from the end */
    .grid > div:nth-child(12n-8):nth-last-of-type(1) {
        border-color: darkorange;
        grid-column-start: 10;
        grid-column: span 3;
    }

    /*  --gup_num: calc(var(--col_num) - 1);
           --new_col_num: 5;
           --new_gup_num: 4;
           --encrease_per: calc((var(--col_num) * 100 + var(--grid_gap) * (var(--gup_num) - var(--new_gup_num)) / var(--new_col_num)));
          273.6%
       5 columns, 1 cell
      */

    .grid > div:nth-child(12n-11):nth-last-of-type(5) {
        border-color: #00cc00;
        grid-column-start: 1;
        position: relative;
        width: calc(280%);
        left: 0;
    }
    /* 5 columns, 2 cell */
    /* Element index division by 12 reminder is 2 and it is 4 from the end */
    .grid > div:nth-child(12n-10):nth-last-of-type(4) {
        border-color: darkorange;
        grid-column-start: 2;
        position: relative;
        width: calc(280%);
        left: calc(195%);
    }

    /* 5 columns, 3 cell */
    /* Element index division by 12 reminder is 3 and it is 3 from the end */
    .grid > div:nth-child(12n-9):nth-last-of-type(3) {
        border-color: darkorange;
        grid-column-start: 3;
        position: relative;
        width: calc(280%);
        left: calc(195% + 195%);
    }

    /* 5 columns, 4 cell */
    /* Element index division by 12 reminder is 4 and it is 2 from the end */
    .grid > div:nth-child(12n-8):nth-last-of-type(2) {
        border-color: purple;
        grid-column-start: 4;
        position: relative;
        width: calc(280%);
        left: calc(195% + 195% + 195%);
    }

    /* 5 columns, 5 cell */
    /* Element index division by 12 reminder is 5 and it is 1 from the end */
    .grid > div:nth-child(12n-7):nth-last-of-type(1) {
        border-color: darkorange;
        justify-self: end;
        position: relative;
        grid-column-start: 12;
        width: calc(280%);
     ;
    }
    /* 6 columns 1 cell */
    .grid > div:nth-child(12n-11):nth-last-of-type(6) {
        grid-column-start: 1;
        position: relative;
        grid-column: span 2;
     ;
    }
    /* 6 columns 2 cell */ 
    .grid > div:nth-child(12n-10):nth-last-of-type(5) {
        grid-column-start: 3;
        position: relative;
        grid-column: span 2;
    }
    /* 6 columns 3 cell */ 
    .grid > div:nth-child(12n-9):nth-last-of-type(4) {
        grid-column-start: 5;
        position: relative;
        grid-column: span 2;
    }
    /* 6 columns 4 cell */ 
    .grid > div:nth-child(12n-8):nth-last-of-type(3) {
        grid-column-start: 7;
        position: relative;
        grid-column: span 2;
    }
    /* 6 columns 5 cell */ 
    .grid > div:nth-child(12n-7):nth-last-of-type(2) {
        grid-column-start: 9;
        position: relative;
        grid-column: span 2;
    }
    /* 6 columns 6 cell */
    .grid > div:nth-child(12n-6):nth-last-of-type(1) {
        justify-self: end;
        grid-column-start: 12;
        position: relative;
        grid-column: span 2;
    }
    /* 7 columns 1 cell*/
    .grid > div:nth-child(12n-11):nth-last-of-type(7) {
        border-color: darkorange;
        grid-column-start: 1;
        position: relative;
        width: calc(186%);
        left: 0;
    }
    /* 7 columns, 2 cell */
    .grid > div:nth-child(12n-10):nth-last-of-type(6) {
        border-color: darkorange;
        grid-column-start: 2;
        position: relative;
        width: calc(186%);
        left: calc(99%);
    }

    /* 7 columns, 3 cell */
    .grid > div:nth-child(12n-9):nth-last-of-type(5) {
        border-color: darkorange;
        grid-column-start: 3;
        position: relative;
        width: calc(186%);
        left: calc(99% + 99%);
    }

    /* 7 columns, 4 cell */
    .grid > div:nth-child(12n-8):nth-last-of-type(4) {
        border-color: darkorange;
        grid-column-start: 4;
        position: relative;
        width: calc(186%);
        left: calc(99% + 99% + 99%);
    }

    /* 7 columns, 5 cell */
    .grid > div:nth-child(12n-7):nth-last-of-type(3) {
        border-color: darkorange;
        position: relative;
        grid-column-start: 5;
        width: calc(186%);
        left: calc(99% + 99% + 99% + 99%);
     ;
    }
    /* 7 columns 6 cell */
    .grid > div:nth-child(12n-6):nth-last-of-type(2) {
        border-color: darkorange;
        position: relative;
        grid-column-start: 6;
        width: calc(186%);
        left: calc(99% + 99% + 99% + 99% + 99%);
     ;
    }
    /* 7 columns 7 cell */ 
    .grid > div:nth-child(12n-5):nth-last-of-type(1) {
        border-color: darkorange;
        justify-self: end;
        position: relative;
        grid-column-start: 12;
        width: calc(186%);
     ;
    }
    /* 8 columns 1 cell*/
    .grid > div:nth-child(12n-11):nth-last-of-type(8) {
        border-color: darkorange;
        grid-column-start: 1;
        position: relative;
        width: calc(162%);
        left: 0;
    }
    /* 8 columns, 2 cell */
    .grid > div:nth-child(12n-10):nth-last-of-type(7) {
        border-color: darkorange;
        grid-column-start: 2;
        position: relative;
        width: calc(162%);
        left: calc(66%);
    }

    /* 8 columns, 3 cell */
    .grid > div:nth-child(12n-9):nth-last-of-type(6) {
        border-color: darkorange;
        grid-column-start: 3;
        position: relative;
        width: calc(162%);
        left: calc(66% + 66%);
    }

    /* 8 columns, 4 cell */
    .grid > div:nth-child(12n-8):nth-last-of-type(5) {
        border-color: darkorange;
        grid-column-start: 4;
        position: relative;
        width: calc(162%);
        left: calc(66% + 66% + 66%);
    }

    /* 8 columns, 5 cell */
    .grid > div:nth-child(12n-7):nth-last-of-type(4) {
        border-color: darkorange;
        position: relative;
        grid-column-start: 5;
        width: calc(162%);
        left: calc(66% + 66% + 66% + 66%);
        ;
    }
    /* 8 columns 6 cell */
    .grid > div:nth-child(12n-6):nth-last-of-type(3) {
        border-color: darkorange;
        position: relative;
        grid-column-start: 6;
        width: calc(162%);
        left: calc(66% + 66% + 66% + 66% + 66%);
        ;
    }
    /* 8 columns 7 cell */
    .grid > div:nth-child(12n-5):nth-last-of-type(2) {
        border-color: darkorange;
        position: relative;
        grid-column-start: 7;
        width: calc(162%);
        left: calc(66% + 66% + 66% + 66% + 66% + 66%);
        ;
    }
    /* 8 columns 8 cell */ 
    .grid > div:nth-child(12n-4):nth-last-of-type(1) {
        border-color: darkorange;
        justify-self: end;
        position: relative;
        grid-column-start: 12;
        width: calc(162%);
    }
        /* 9 columns 1 cell*/
        .grid > div:nth-child(12n-11):nth-last-of-type(9) {
            border-color: darkorange;
            grid-column-start: 1;
            position: relative;
            width: calc(138%);
            left: 0;
        }
        /* 9 columns, 2 cell */
        .grid > div:nth-child(12n-10):nth-last-of-type(8) {
            border-color: darkorange;
            grid-column-start: 2;
            position: relative;
            width: calc(138%);
            left: calc(43%);
        }
    
        /* 9 columns, 3 cell */
        .grid > div:nth-child(12n-9):nth-last-of-type(7) {
            border-color: darkorange;
            grid-column-start: 3;
            position: relative;
            width: calc(138%);
            left: calc(43% + 43%);
        }
    
        /* 9 columns, 4 cell */
        .grid > div:nth-child(12n-8):nth-last-of-type(6) {
            border-color: darkorange;
            grid-column-start: 4;
            position: relative;
            width: calc(138%);
            left: calc(43% + 43% + 43%);
        }
    
        /* 9 columns, 5 cell */
        .grid > div:nth-child(12n-7):nth-last-of-type(5) {
            border-color: darkorange;
            position: relative;
            grid-column-start: 5;
            width: calc(138%);
            left: calc(43% + 43% + 43% + 43%);
            ;
        }
        /* 9 columns 6 cell */
        .grid > div:nth-child(12n-6):nth-last-of-type(4) {
            border-color: darkorange;
            position: relative;
            grid-column-start: 6;
            width: calc(138%);
            left: calc(43% + 43% + 43% + 43% + 43%);
            ;
        }
        /* 9 columns 7 cell */
        .grid > div:nth-child(12n-5):nth-last-of-type(3) {
            border-color: darkorange;
            position: relative;
            grid-column-start: 7;
            width: calc(138%);
            left: calc(43% + 43% + 43% + 43% + 43% + 43%);
            ;
        }
        /* 9 columns 8 cell */
        .grid > div:nth-child(12n-4):nth-last-of-type(2) {
            border-color: darkorange;
            position: relative;
            grid-column-start: 8;
            width: calc(138%);
            left: calc(43% + 43% + 43% + 43% + 43% + 43% + 43%);
            ;
        }
        /* 9 columns 9 cell */ 
        .grid > div:nth-child(12n-3):nth-last-of-type(1) {
            border-color: darkorange;
            justify-self: end;
            position: relative;
            grid-column-start: 12;
            width: calc(138%);
            ;
        }

        /* 10 columns 1 cell*/
        .grid > div:nth-child(12n-11):nth-last-of-type(10) {
            border-color: darkorange;
            grid-column-start: 1;
            position: relative;
            width: calc(124%);
            left: 0;
        }
        /* 10 columns, 2 cell */
        .grid > div:nth-child(12n-10):nth-last-of-type(9) {
            border-color: darkorange;
            grid-column-start: 2;
            position: relative;
            width: calc(124%);
            left: calc(28%);
        }
    
        /* 10 columns, 3 cell */
        .grid > div:nth-child(12n-9):nth-last-of-type(8) {
            border-color: darkorange;
            grid-column-start: 3;
            position: relative;
            width: calc(124%);
            left: calc(28% + 28%);
        }
    
        /* 10 columns, 4 cell */
        .grid > div:nth-child(12n-8):nth-last-of-type(7) {
            border-color: darkorange;
            grid-column-start: 4;
            position: relative;
            width: calc(124%);
            left: calc(28% + 28% + 28%);
        }
    
        /* 10 columns, 5 cell */
        .grid > div:nth-child(12n-7):nth-last-of-type(6) {
            border-color: darkorange;
            position: relative;
            grid-column-start: 5;
            width: calc(124%);
            left: calc(28% + 28% + 28% + 28%);
            ;
        }
        /* 10 columns 6 cell */
        .grid > div:nth-child(12n-6):nth-last-of-type(5) {
            border-color: darkorange;
            position: relative;
            grid-column-start: 6;
            width: calc(124%);
            left: calc(28% + 28% + 28% + 28% + 28%);
            ;
        }
        /* 10 columns 7 cell */
        .grid > div:nth-child(12n-5):nth-last-of-type(4) {
            border-color: darkorange;
            position: relative;
            grid-column-start: 7;
            width: calc(124%);
            left: calc(28% + 28% + 28% + 28% + 28% + 28%);
            ;
        }
        /* 10 columns 8 cell */
        .grid > div:nth-child(12n-4):nth-last-of-type(3) {
            border-color: darkorange;
            position: relative;
            grid-column-start: 8;
            width: calc(124%);
            left: calc(28% + 28% + 28% + 28% + 28% + 28% + 28%);
            ;
        }
        /* 10 column 9 cell*/ 
        .grid > div:nth-child(12n-3):nth-last-of-type(2) {
            border-color: darkorange;
            position: relative;
            grid-column-start: 9;
            width: calc(124%);
            left: calc(28% + 28% + 28% + 28% + 28% + 28% + 28% + 28%);
            ;
        }
        /* 10 columns 10 cell */ 
        .grid > div:nth-child(12n-2):nth-last-of-type(1) {
            border-color: darkorange;
            justify-self: end;
            position: relative;
            grid-column-start: 12;
            width: calc(124%);
            ;
        }

        /* 11 columns 1 cell*/
        .grid > div:nth-child(12n-11):nth-last-of-type(11) {
            border-color: darkorange;
            grid-column-start: 1;
            position: relative;
            width: calc(112%);
            left: 0;
        }
        /* 11 columns, 2 cell */
        .grid > div:nth-child(12n-10):nth-last-of-type(10) {
            border-color: darkorange;
            grid-column-start: 2;
            position: relative;
            width: calc(112%);
            left: calc(12%);
        }
    
        /* 11 columns, 3 cell */
        .grid > div:nth-child(12n-9):nth-last-of-type(9) {
            border-color: darkorange;
            grid-column-start: 3;
            position: relative;
            width: calc(112%);
            left: calc(12% + 12%);
        }
    
        /* 11 columns, 4 cell */
        .grid > div:nth-child(12n-8):nth-last-of-type(8) {
            border-color: darkorange;
            grid-column-start: 4;
            position: relative;
            width: calc(112%);
            left: calc(12% + 12% + 12%);
        }
    
        /* 11 columns, 5 cell */
        .grid > div:nth-child(12n-7):nth-last-of-type(7) {
            border-color: darkorange;
            position: relative;
            grid-column-start: 5;
            width: calc(112%);
            left: calc(12% + 12% + 12% + 12%);
            ;
        }
        /* 11 columns 6 cell */
        .grid > div:nth-child(12n-6):nth-last-of-type(6) {
            border-color: darkorange;
            position: relative;
            grid-column-start: 6;
            width: calc(112%);
            left: calc(12% + 12% + 12% + 12% + 12%);
            ;
        }
        /* 11 columns 7 cell */
        .grid > div:nth-child(12n-5):nth-last-of-type(5) {
            border-color: darkorange;
            position: relative;
            grid-column-start: 7;
            width: calc(112%);
            left: calc(12% + 12% + 12% + 12% + 12% + 12%);
            ;
        }
        /* 11 columns 8 cell */
        .grid > div:nth-child(12n-4):nth-last-of-type(4) {
            border-color: darkorange;
            position: relative;
            grid-column-start: 8;
            width: calc(112%);
            left: calc(12% + 12% + 12% + 12% + 12% + 12% + 12%);
            ;
        }
        /* 11 column 9 cell*/ 
        .grid > div:nth-child(12n-3):nth-last-of-type(3) {
            border-color: darkorange;
            position: relative;
            grid-column-start: 9;
            width: calc(112%);
            left: calc(12% + 12% + 12% + 12% + 12% + 12% + 12% + 12%);
        }
        /* 11 column 10 cell*/ 
        .grid > div:nth-child(12n-2):nth-last-of-type(2) {
            border-color: darkorange;
            position: relative;
            grid-column-start: 10;
            width: calc(112%);
            left: calc(12% + 12% + 12% + 12% + 12% + 12% + 12% + 12% + 12%);
        }
        /* 11 columns 11 cell */ 
        .grid > div:nth-child(12n-1):nth-last-of-type(1) {
            border-color: darkorange;
            justify-self: end;
            position: relative;
            grid-column-start: 12;
            width: calc(112%);
            ;
        }
}

@media screen and (min-width: 1228px) {
    .grid {
        display: grid;
        margin: 32px;
        grid-gap: 24px;
        border: 1px solid red;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }

    .grid div img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}