@use "src/scss/mixins" as *;

// Table made using div-s
.container {
  display: flex;
  flex-direction: var(--wrapper-direction);
  padding-bottom: 16px;
  overflow-x: auto;
}
.row,
.row-header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  flex-direction: var(--row-direction);
  flex: var(--flex-values);
  gap: var(--gap_size);
  --gap_size: 0px;
  --col_num: 1;
  --flex-values: 1 0 calc(50% - var(--gap_size));
  .cell-header,
  .cell {
    flex: var(--flex-values);
    background-image: linear-gradient(
      to right,
      black 33%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
    background-color: white;
    --gap_num: calc(var(--col_num) - 1);
  }
  .cell-header {
    font-weight: bold;
    text-transform: capitalize;
  }
}
@media screen and (min-width: 360px) {
  .row,
  .row-header {
    --gap_size: 16px;
    --col_num: 4;
    --flex-values: 1 0 calc(50% - var(--gap_size));
  }
}

@media screen and (min-width: 600px) {
  .row,
  .row-header {
    --gap_size: 16px;
    --col_num: 6;
    --flex-values: 1 0 calc(33% - var(--gap_size));
  }
}

@media screen and (min-width: 800px) {
  .row,
  .row-header {
    --gap_size: 24px;
    --col_num: 6;
    --flex-values: 1 0 calc(33% - var(--gap_size));
  }
}

@media screen and (min-width: 1024px) {
  .row,
  .row-header {
    --gap_size: 24px;
    --col_num: 12;
    --flex-values: 1 0 calc(25% - var(--gap_size));
  }
}
@media screen and (min-width: 1288px) {
  .row,
  .row-header {
    --gap_size: 24px;
    --col_num: 12;
    --flex-values: 1 0 calc(16% - var(--gap_size));
  }
}

.horizontal {
  --row-direction: row;
  --wrapper-direction: column;
  .row,
  .row-header {
    background-image: linear-gradient(
      to right,
      black 33%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
  }
}

.vertical {
  --row-direction: column;
  --wrapper-direction: row;
  .row,
  .row-header {
    flex: var(--flex-values);
  }
}

.offgrid {
  --row-direction: column;
  --wrapper-direction: row;
  .row-header {
    flex-basis: calc((100% / var(--col_num)) * 3);
  }
}

// Table made using table tags and wrapper
.flex-wrapper {
  display: flex;
  overflow-x: auto;
  width: calc(100% - var(--margin-width));
  margin-left: var(--margin-size);
  --margin-size: 16px;
  --margin-width: var(--margin-size) * 2;
  table {
    table-layout: fixed;
    min-width: 100%;
    border-collapse: collapse;
    margin-bottom: 15px;
    tr {
      background-image: linear-gradient(
        to right,
        black 33%,
        rgba(255, 255, 255, 0) 0%
      );
      background-position: bottom;
      background-size: 5px 1px;
      background-repeat: repeat-x;
    }
    td,
    th {
      height: 45px;
      text-align: left;
      vertical-align: top;
      padding: 0 8px;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      @include set-col-width-for-table-by-col-count(1) {
        min-width: 100%;
      }
    }
  }
  @media screen and (min-width: 360px) {
    th,
    td {
      @include set-col-width-for-table-by-col-count(2) {
        width: 50vw;
      }
      min-width: 45vw;
    }
  }
  @media screen and (min-width: 600px) {
    th,
    td {
      @include set-col-width-for-table-by-col-count-loop(3);
      min-width: 30vw;
    }
    --margin-size: 20px;
  }
  @media screen and (min-width: 800px) {
    th,
    td {
      @include set-col-width-for-table-by-col-count-loop(3);
      min-width: 30vw;
      padding: 0 12px;
    }
    --margin-size: 28px;
  }
  @media screen and (min-width: 1024px) {
    th,
    td {
      @include set-col-width-for-table-by-col-count-loop(4);
      min-width: 23vw;
    }
    --margin-size: 32px;
  }
  @media screen and (min-width: 1288px) {
    th,
    td {
      @include set-col-width-for-table-by-col-count-loop(6);
      min-width: 15vw;
    }
  }
}
