$breakpoint-md: 767px;

$border-max-width: 2;
$border-opacity: 25, 50;

$color-action: #00ecc9;
$color-action-light: #6cffdc;
$color-bottom-of-the-sea: #00122d;
$color-buoy: #00bea2;
$color-buoy-light: #cdf8eb;
$color-dark-grey: #7799a1;
$color-dance-floor: #5a1eb4;
$color-error: #d97e7e;
$color-group-grey: #eef1f1;
$color-info: #6ecbd9;
$color-lemon: #fafab4;
$color-buoy-link: #009d85;
$color-logotype-blue: #004c93;
$color-logotype-red: #e5312a;
$color-medium-grey: #d6dfdf;
$color-midnight: #004152;
$color-notice: #ff37a2;
$color-pool-light: #c2f7ff;
$color-seafoam: #f5f8f7;
$color-shuttle-green: #00a861;
$color-sunset: #ffc8be;
$color-twilight: #396a76;
$color-white: #ffffff;
$color-black: #000000;

$color-dark-pink: #c06f6f;
$color-light-pink: #f49090;

$border-colors: (
  dark-grey: $color-dark-grey,
  medium-grey: $color-medium-grey,
  midnight: $color-midnight,
  twilight: $color-twilight,
);

$colors: (
  action: $color-action,
  action-light: $color-action-light,
  bottom-of-the-sea: $color-bottom-of-the-sea,
  buoy: $color-buoy,
  buoy-light: $color-buoy-light,
  buoy-link: $color-buoy-link,
  dark-grey: $color-dark-grey,
  dance-floor: $color-dance-floor,
  error: $color-error,
  group-grey: $color-group-grey,
  info: $color-info,
  lemon: $color-lemon,
  logotype-blue: $color-bottom-of-the-sea,
  logotype-red: $color-logotype-red,
  medium-grey: $color-medium-grey,
  midnight: $color-midnight,
  notice: $color-notice,
  pool-light: $color-pool-light,
  seafoam: $color-seafoam,
  shuttle-green: $color-shuttle-green,
  sunset: $color-sunset,
  twilight: $color-twilight,
  white: $color-white,
);

$directions: (
  bottom: "b",
  left: "l",
  right: "r",
  top: "t",
);

$space-types: (
  margin: "m",
  padding: "p",
);

$font-family: "GT Walsheim Pro", Arial, Helvetica, sans-serif;

$font-16: 16px;
$font-14: 14px;
$font-12: 12px;

$grid-breakpoints: (
  "xl": (
    "min": 1288px,
    "max": null,
  ),
  "lg": (
    "min": 1024px,
    "max": 1287px,
  ),
  "md": (
    "min": 800px,
    "max": 1023px,
  ),
  "sm": (
    "min": 600px,
    "max": 799px,
  ),
  "xs": (
    "min": 360px,
    "max": 599px,
  ),
);

$grid-cols: 12;

$grid-gutter-32: 32px;
$grid-gutter-28: 28px;
$grid-gutter-20: 20px;
$grid-gutter-16: 16px;
$grid-gutter-12: 12px;
$grid-gutter-8: 8px;

$icon-sizes: 8, 10, 12, 14, 16, 18, 20, 22, 24, 32, 40, 48, 56, 64;
$spaces: 0, 2, 4, 6, 8, 10, 12, 16, 20, 24, 28, 32, 40, 48, 60;

