@mixin media-breakpoint($breakpoint-start, $breakpoint-end: null) {
  @if map-has-key($grid-breakpoints, $breakpoint-start) and
    $breakpoint-end ==
    null
  {
    $min-width: map-get($grid-breakpoints, $breakpoint-start, "min");

    @media (min-width: $min-width) {
      @content;
    }
  } @else if $breakpoint-end and map-has-key($grid-breakpoints, $breakpoint-end)
  {
    @if $breakpoint-end == "xl" {
      $min-width: map-get($grid-breakpoints, $breakpoint-start, "min");

      @media (min-width: $min-width) {
        @content;
      }
    } @else {
      $min-width: map-get($grid-breakpoints, $breakpoint-start, "min");
      $max-width: map-get($grid-breakpoints, $breakpoint-end, "max");

      @media (min-width: $min-width) and (max-width: $max-width) {
        @content;
      }
    }
  } @else {
    @content;
  }
}
