@mixin set-grid-sveta-span-rules($size) {
  $cols: map-get($grid-dimensions, $size, "cols");
  @include set-grid-sveta-last-row-span-rules($cols);
}

@mixin set-grid-sveta-last-row-span-rules($cols) {
  @include set-grid-sveta-last-row-first-cell-span-rules($cols);
  @include set-grid-sveta-last-row-second-cell-span-rules($cols);
  @include set-grid-sveta-last-row-third-cell-span-rules($cols);
  @include set-grid-sveta-last-row-fourth-cell-span-rules($cols);
  @if ($cols > 6) {
    @include set-grid-sveta-last-row-fifth-and-sixes-cell-span-rules($cols);
  }
}

@mixin set-grid-sveta-last-row-first-cell-span-rules($cols) {
  :nth-child(#{$cols}n + 1):nth-last-child(1) {
    grid-column: span #{$cols/1};
  }
  :nth-child(#{$cols}n + 1):nth-last-child(2) {
    grid-column: span #{$cols/2};
  }
  :nth-child(#{$cols}n + 1):nth-last-child(3) {
    grid-column: span #{$cols/3};
  }
  :nth-child(#{$cols}n + 1):nth-last-child(4) {
    grid-column: span #{$cols/4};
  }
  :nth-child(#{$cols}n + 1):nth-last-child(5) {
    grid-column: span #{$cols/6};
  }
  @if ($cols > 6) {
    :nth-child(#{$cols}n + 1):nth-last-child(6) {
      grid-column: span #{$cols/6};
    }
  }
}

@mixin set-grid-sveta-last-row-second-cell-span-rules($cols) {
  :nth-child(#{$cols}n + 2):nth-last-child(1) {
    grid-column: span #{$cols/2};
  }
  :nth-child(#{$cols}n + 2):nth-last-child(2) {
    grid-column: span #{$cols/3};
  }
  :nth-child(#{$cols}n + 2):nth-last-child(3) {
    grid-column: span #{$cols/4};
  }
  :nth-child(#{$cols}n + 2):nth-last-child(4) {
    grid-column: span #{$cols/6};
  }
  @if ($cols > 6) {
    :nth-child(#{$cols}n + 2):nth-last-child(5) {
      grid-column: span #{$cols/6};
    }
  }
}

@mixin set-grid-sveta-last-row-third-cell-span-rules($cols) {
  :nth-child(#{$cols}n + 3):nth-last-child(1) {
    grid-column: span #{$cols/3};
  }
  :nth-child(#{$cols}n + 3):nth-last-child(2) {
    grid-column: span #{$cols/4};
  }
  :nth-child(#{$cols}n + 3):nth-last-child(3) {
    grid-column: span #{$cols/6};
  }
  @if ($cols > 6) {
    :nth-child(#{$cols}n + 3):nth-last-child(4) {
      grid-column: span #{$cols/6};
    }
  }
}

@mixin set-grid-sveta-last-row-fourth-cell-span-rules($cols) {
  :nth-child(#{$cols}n + 4):nth-last-child(1) {
    grid-column: span #{$cols/4};
  }
  :nth-child(#{$cols}n + 4):nth-last-child(2) {
    grid-column: span #{$cols/6};
  }
  @if ($cols > 6) {
    :nth-child(#{$cols}n + 4):nth-last-child(3) {
      grid-column: span #{$cols/6};
    }
  }
}

@mixin set-grid-sveta-last-row-fifth-and-sixes-cell-span-rules($cols) {
  :nth-child(#{$cols}n + 5):nth-last-child(1) {
    grid-column: span #{$cols/6};
  }
  :nth-child(#{$cols}n + 5):nth-last-child(2) {
    grid-column: span #{$cols/6};
  }
  :nth-child(#{$cols}n + 6):nth-last-child(1) {
    grid-column: span #{$cols/6};
  }
}

@mixin set-grid-sveta-props($size) {
  $dimensions: map-get($grid-dimensions, $size);
  $grid-cols: map-get($grid-dimensions, $size, "cols");
  --col_num: #{$grid-cols};
  grid-gap: map-get($grid-dimensions, $size, "grid-gap");
  margin: map-get($dimensions, "margin");
  max-width: map-get($dimensions, "max-width");
}
