@mixin grid-margus-cell-width($i) {
  @if ($i <= $grid-cols) {
    $width: calc(#{$i} / #{$grid-cols} * 100%);
    flex-basis: $width;
    max-width: $width;
  }
}

@mixin column-gap() {
  $padding-gap: calc(var(--grid-gap) * 0.5);
  padding-left: $padding-gap;
  padding-right: $padding-gap;
  margin-bottom: var(--grid-gap);
}

@mixin row-gap() {
  $margin-gap: calc(var(--grid-gap) * -0.5);
  margin-left: $margin-gap;
  margin-right: $margin-gap;
  margin-bottom: calc(-1 * var(--grid-gap));
}

@mixin create-grid-columns() {
  @each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint(#{$breakpoint}) {
      @for $i from 1 through $grid-cols {
        &--#{$breakpoint}-#{$i},
        &--#{$i} {
          @include grid-margus-cell-width($i);
        }
      }
    }
  }
}
