@mixin create-margin-spaces($breakpoint: false) {
  @each $size in $spaces {
    @each $key, $dir in $directions {
      .m#{$dir}#{if($breakpoint, "-" + $breakpoint + "-", "-") + $size} {
        margin-#{$key}: #{$size}px !important;
      }
    }
    .m#{if($breakpoint, "-" + $breakpoint + "-", "-") + $size} {
      margin: #{$size}px !important;
    }
  }
}

@mixin create-padding-spaces($breakpoint: false) {
  @each $size in $spaces {
    @each $key, $dir in $directions {
      .p#{$dir}#{if($breakpoint, "-" + $breakpoint + "-", "-") + $size} {
        padding-#{$key}: #{$size}px !important;
      }
    }
    .p#{if($breakpoint, "-" + $breakpoint + "-", "-") + $size} {
      padding: #{$size}px !important;
    }
  }
}
