body {
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  background-color: #f5f8f7;
}

.container{
  height: 100%;
  width: 100%;
  position: relative;
}
.footer{
  position: fixed;     
  text-align: center;    
  bottom: 15px; 
  width: 100%;
}